In [1]:
import pandas as pd
ref_countries=pd.read_csv('countries_codes_and_coordinates.csv')

In [31]:
print(ref_countries.head())
print(ref_countries.columns)

          Country Alpha-2 code Alpha-3 code Numeric code Latitude (average)  \
0     Afghanistan         "AF"        "AFG"          "4"               "33"
1   Åland Islands         "AX"        "ALA"        "248"        "60.116667"
2         Albania         "AL"        "ALB"          "8"               "41"
3         Algeria         "DZ"        "DZA"         "12"               "28"
4  American Samoa         "AS"        "ASM"         "16"         "-14.3333"

  Longitude (average)
0                "65"
1              "19.9"
2                "20"
3                 "3"
4              "-170"
Index(['Country', 'Alpha-2 code', 'Alpha-3 code', 'Numeric code',
       'Latitude (average)', 'Longitude (average)'],
      dtype='object')

In [4]:
ref_countries.shape

(262, 6)

In [20]:
Countries_with_code =ref_countries['Country'].tolist()

In [2]:
df_forests=pd.read_csv('fra2020-extentofforest.csv')

In [10]:
df_forests.columns

Index(['Unnamed: 0', '1990', '2000', '2010', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

In [8]:
display(df_forests.head)

<bound method NDFrame.head of                Unnamed: 0      1990      2000      2010      2015      2016  \
0             Afghanistan   1208.44   1208.44   1208.44   1208.44   1208.44
1    Albania (Desk study)    788.80    769.30    782.07    789.19    789.18
2                 Algeria   1667.00   1579.00   1918.00   1956.00   1956.00
3          American Samoa     18.07     17.73     17.43     17.28     17.25
4                 Andorra     16.00     16.00     16.00     16.00     16.00
..                    ...       ...       ...       ...       ...       ...
233                 Yemen    549.00    549.00    549.00    549.00    549.00
234                Zambia  47412.00  47054.00  46696.00  45755.10  45566.80
235              Zimbabwe  18826.68  18365.98  17905.28  17674.93  17628.86
236            © FRA 2021       NaN       NaN       NaN       NaN       NaN
237            2021-01-05       NaN       NaN       NaN       NaN       NaN

         2017      2018      2019      2020
0     1208.44   1208.44   1208.44   1208.44
1      788.90    788.90    788.90    788.90
2     1943.00   1930.00   1939.00   1949.00
3       17.22     17.19     17.16     17.13
4       16.00     16.00     16.00     16.00
..        ...       ...       ...       ...
233    549.00    549.00    549.00    549.00
234  45378.67  45190.46  45002.24  44814.03
235  17582.79  17536.72  17490.65  17444.58
236       NaN       NaN       NaN       NaN
237       NaN       NaN       NaN       NaN

[238 rows x 10 columns]>

In [7]:
#to keep
df_forests.columns = ['Country' if idx == 0 else col.replace(" ", "_").lower() for idx, col in enumerate(df_forests.columns)]

In [8]:
df_forests.columns

Index(['Country', '1990', '2000', '2010', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

In [9]:
df_forests['Country'].replace('', pd.NA, inplace=True)

In [10]:
has_missing_values = df_forests['Country'].isna().any() or (df_forests['Country'] == '').any()

# Output the result
print(f'Are there missing values in the Country column? {has_missing_values}')

Are there missing values in the Country column? False

In [12]:
# Add 'desk_study' column with boolean values
df_forests['desk_study'] = df_forests['Country'].str.contains('Desk study', case=False, na=False)

In [13]:
df_forests.columns

Index(['Country', '1990', '2000', '2010', '2015', '2016', '2017', '2018',
       '2019', '2020', 'desk_study'],
      dtype='object')

In [14]:
#no duplicates
df_forests.duplicated().sum()

0

In [15]:
# Remove the substring '(Desk study)' from the 'Country' column
df_forests['Country'] = df_forests['Country'].str.replace(r'\s*\(Desk study\)', '', regex=True, case=False)

In [16]:
df_forests.head()

,Country,1990,2000,2010,2015,2016,2017,2018,2019,2020,desk_study
0,Afghanistan,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,False
1,Albania,788.80,769.30,782.07,789.19,789.18,788.90,788.90,788.90,788.90,True
2,Algeria,1667.00,1579.00,1918.00,1956.00,1956.00,1943.00,1930.00,1939.00,1949.00,False
3,American Samoa,18.07,17.73,17.43,17.28,17.25,17.22,17.19,17.16,17.13,False
4,Andorra,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,False

In [17]:
df_forests_cleaned = df_forests.copy()

In [18]:
df_forests_cleaned.head()

,Country,1990,2000,2010,2015,2016,2017,2018,2019,2020,desk_study
0,Afghanistan,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,1208.44,False
1,Albania,788.80,769.30,782.07,789.19,789.18,788.90,788.90,788.90,788.90,True
2,Algeria,1667.00,1579.00,1918.00,1956.00,1956.00,1943.00,1930.00,1939.00,1949.00,False
3,American Samoa,18.07,17.73,17.43,17.28,17.25,17.22,17.19,17.16,17.13,False
4,Andorra,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,16.00,False

In [26]:
#comparing values of country in df forest vs df countries ref
not_in_list = df_forests_cleaned[~df_forests_cleaned['Country'].isin(Countries_with_code)]

# Count the number of such rows
count_not_in_list = not_in_list.shape[0]

print(f'Number of rows with Country values not in the list: {count_not_in_list}')
print(not_in_list)

Number of rows with Country values not in the list: 26
                                               Country       1990       2000  \
24                    Bolivia (Plurinational State of)   57804.72   55101.39
29                              British Virgin Islands       3.71       3.67
34                                          Cabo Verde      15.38      39.72
53                                             Czechia    2629.42    2637.29
54               Democratic People's Republic of Korea    6912.03    6454.69
55                    Democratic Republic of the Congo  150629.00  143899.00
66                                            Eswatini     461.14     473.28
73                                       French Guyana    8125.00    8079.44
92                                            Holy See       0.00       0.00
98                          Iran (Islamic Republic of)    9076.06    9325.66
134                   Micronesia (Federated States of)      63.58      63.86
153                                    North Macedonia     912.00     957.55
159                                          Palestine       9.08       9.08
170                                  Republic of Korea    6551.00    6476.00
171                                Republic of Moldova     325.40     344.40
177                                       Saint Helena       2.00       2.00
182                         Saint-Martin (French Part)       1.24       1.24
203                     Svalbard and Jan Mayen Islands       0.00       0.00
222  United Kingdom of Great Britain and Northern I...    2778.00    2954.00
223                        United Republic of Tanzania   57390.01   53670.01
224                       United States Virgin Islands      24.54      20.47
225                           United States of America  302450.00  303536.00
229                 Venezuela (Bolivarian Republic of)   52026.00   49151.00
231                          Wallis and Futuna Islands       5.80       5.81
236                                         © FRA 2021        NaN        NaN
237                                         2021-01-05        NaN        NaN

          2010       2015       2016       2017       2018       2019  \
24    53086.01   52027.22   51750.68   51492.22   51253.24   51033.76
29        3.64       3.62       3.62       3.62       3.62       3.62
34       42.72      44.22      44.52      44.82      45.12      45.42
53     2657.38    2668.39    2669.85    2671.66    2673.47    2675.28
54     6242.39    6136.24    6115.01    6093.78    6072.55    6051.32
55   137169.00  131662.12  130560.74  129459.37  128357.99  127256.61
66      485.43     491.50     492.72     493.93     495.14     496.35
73     8036.50    8020.00    8016.57    8013.14    8009.71    8006.28
92        0.00       0.00       0.00       0.00       0.00       0.00
98    10691.98   10691.98   10702.08   10710.59   10727.03   10743.47
134      64.13      64.27      64.30      64.33      64.36      64.39
153     960.43     994.40    1001.67    1001.49    1001.49    1001.49
159       9.95      10.14      10.14      10.14      10.14      10.14
170    6387.00    6337.00    6325.00    6317.00    6307.00    6297.00
171     374.50     386.40     386.50     386.50     386.50     386.50
177       2.00       2.00       2.00       2.00       2.00       2.00
182       1.24       1.24       1.24       1.24       1.24       1.24
203       0.00       0.00       0.00       0.00       0.00       0.00
222    3059.00    3155.00    3159.00    3164.00    3173.00    3182.00
223   49950.01   48090.00   47621.00   47152.00   46683.00   46214.00
224      18.43      19.16      19.31      19.46      19.61      19.76
225  308720.00  310095.00  310095.00  309795.00  309795.00  309795.00
229   47505.00   46683.00   46543.26   46428.18   46337.76   46272.00
231       5.82       5.83       5.83       5.83       5.83       5.83
236        NaN        NaN        NaN        NaN        NaN        NaN
237        NaN        NaN        NaN        NaN        NaN        NaN

          2020  desk_study
24    50833.76       False
29        3.62        True
34       45.72       False
53     2677.09       False
54     6030.09        True
55   126155.24       False
66      497.56       False
73     8002.85       False
92        0.00        True
98    10751.87       False
134      64.42       False
153    1001.49        True
159      10.14        True
170    6287.00       False
171     386.50       False
177       2.00        True
182       1.24        True
203       0.00       False
222    3190.00       False
223   45745.00       False
224      19.91       False
225  309795.00       False
229   46230.90       False
231       5.83        True
236        NaN       False
237        NaN       False

In [27]:
# Create a new DataFrame df_forests_cleaned_leftover with rows where 'Country' is not in Countries_with_code
df_forests_cleaned_leftover = df_forests_cleaned[~df_forests_cleaned['Country'].isin(Countries_with_code)]

# Display the result
print(df_forests_cleaned_leftover)

                                               Country       1990       2000  \
24                    Bolivia (Plurinational State of)   57804.72   55101.39
29                              British Virgin Islands       3.71       3.67
34                                          Cabo Verde      15.38      39.72
53                                             Czechia    2629.42    2637.29
54               Democratic People's Republic of Korea    6912.03    6454.69
55                    Democratic Republic of the Congo  150629.00  143899.00
66                                            Eswatini     461.14     473.28
73                                       French Guyana    8125.00    8079.44
92                                            Holy See       0.00       0.00
98                          Iran (Islamic Republic of)    9076.06    9325.66
134                   Micronesia (Federated States of)      63.58      63.86
153                                    North Macedonia     912.00     957.55
159                                          Palestine       9.08       9.08
170                                  Republic of Korea    6551.00    6476.00
171                                Republic of Moldova     325.40     344.40
177                                       Saint Helena       2.00       2.00
182                         Saint-Martin (French Part)       1.24       1.24
203                     Svalbard and Jan Mayen Islands       0.00       0.00
222  United Kingdom of Great Britain and Northern I...    2778.00    2954.00
223                        United Republic of Tanzania   57390.01   53670.01
224                       United States Virgin Islands      24.54      20.47
225                           United States of America  302450.00  303536.00
229                 Venezuela (Bolivarian Republic of)   52026.00   49151.00
231                          Wallis and Futuna Islands       5.80       5.81
236                                         © FRA 2021        NaN        NaN
237                                         2021-01-05        NaN        NaN

          2010       2015       2016       2017       2018       2019  \
24    53086.01   52027.22   51750.68   51492.22   51253.24   51033.76
29        3.64       3.62       3.62       3.62       3.62       3.62
34       42.72      44.22      44.52      44.82      45.12      45.42
53     2657.38    2668.39    2669.85    2671.66    2673.47    2675.28
54     6242.39    6136.24    6115.01    6093.78    6072.55    6051.32
55   137169.00  131662.12  130560.74  129459.37  128357.99  127256.61
66      485.43     491.50     492.72     493.93     495.14     496.35
73     8036.50    8020.00    8016.57    8013.14    8009.71    8006.28
92        0.00       0.00       0.00       0.00       0.00       0.00
98    10691.98   10691.98   10702.08   10710.59   10727.03   10743.47
134      64.13      64.27      64.30      64.33      64.36      64.39
153     960.43     994.40    1001.67    1001.49    1001.49    1001.49
159       9.95      10.14      10.14      10.14      10.14      10.14
170    6387.00    6337.00    6325.00    6317.00    6307.00    6297.00
171     374.50     386.40     386.50     386.50     386.50     386.50
177       2.00       2.00       2.00       2.00       2.00       2.00
182       1.24       1.24       1.24       1.24       1.24       1.24
203       0.00       0.00       0.00       0.00       0.00       0.00
222    3059.00    3155.00    3159.00    3164.00    3173.00    3182.00
223   49950.01   48090.00   47621.00   47152.00   46683.00   46214.00
224      18.43      19.16      19.31      19.46      19.61      19.76
225  308720.00  310095.00  310095.00  309795.00  309795.00  309795.00
229   47505.00   46683.00   46543.26   46428.18   46337.76   46272.00
231       5.82       5.83       5.83       5.83       5.83       5.83
236        NaN        NaN        NaN        NaN        NaN        NaN
237        NaN        NaN        NaN        NaN        NaN        NaN

          2020  desk_study
24    50833.76       False
29        3.62        True
34       45.72       False
53     2677.09       False
54     6030.09        True
55   126155.24       False
66      497.56       False
73     8002.85       False
92        0.00        True
98    10751.87       False
134      64.42       False
153    1001.49        True
159      10.14        True
170    6287.00       False
171     386.50       False
177       2.00        True
182       1.24        True
203       0.00       False
222    3190.00       False
223   45745.00       False
224      19.91       False
225  309795.00       False
229   46230.90       False
231       5.83        True
236        NaN       False
237        NaN       False

In [28]:
df_forests_cleaned_leftover.to_csv('fra2020-extentofforest_cleaned_leftover.csv', index=False)

In [29]:
df_forests_cleaned = df_forests_cleaned[df_forests_cleaned['Country'].isin(Countries_with_code)]

In [30]:
df_forests_cleaned.to_csv('fra2020-extentofforest_cleaned.csv', index=False)

In [32]:
ref_countries =ref_countries.drop(columns=['Alpha-2 code', 'Numeric code'])

In [33]:
ref_countries.columns

Index(['Country', 'Alpha-3 code', 'Latitude (average)', 'Longitude (average)'], dtype='object')

In [35]:
ref_countries.to_csv('countries_codes_and_coordinates_cleaned.csv', index=False)