In [1]:
import pandas as pd
df = pd.read_csv("../data/raw/fra2020-extentofforest_cleaned.csv")
df2 = pd.read_csv("../data/raw/fra2020-extentofforest_cleaned_leftover.csv")

In [2]:
#drop irrelevant data or trash data
df2.drop([8, 15, 16,17,24,23,25] ,inplace=True)

In [3]:
#changing strange values

df2["Country"] = df2["Country"].apply(lambda x : x.split("(")[0] if len(x.split("(")) > 1 else x )

In [4]:
res = pd.concat([df, df2], ignore_index=True)

In [5]:
res = res.set_index("Country")

In [6]:
res.drop(["desk_study","1990","2010","2015","2016","2017","2018","2019"], axis=1, inplace = True)

In [7]:
res

                                                         2000       2020
Country
Afghanistan                                           1208.44    1208.44
Albania                                                769.30     788.90
Algeria                                               1579.00    1949.00
American Samoa                                          17.73      17.13
Andorra                                                 16.00      16.00
...                                                       ...        ...
United Kingdom of Great Britain and Northern Ir...    2954.00    3190.00
United Republic of Tanzania                          53670.01   45745.00
United States Virgin Islands                            20.47      19.91
United States of America                            303536.00  309795.00
Venezuela                                            49151.00   46230.90

[231 rows x 2 columns]

In [8]:
res.to_csv('../data/clean/florestation_clean.csv')